/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Genty';
    src: url('./assets/fonts/Genty-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  .loader {
    border: 4px solid rgba(0, 0, 0, 0.9);
    border-top-color: #ffffff; 
  }

  .circular-loader {
    border: 4px solid transparent;
    border-top: 4px solid #000000;
    border-radius: 50%;
    width: 24px;
    height: 24px; 
    animation: spin 1s linear infinite; 
  }
  
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  