@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Genty';
    src: url('./assets/fonts/Genty-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  